@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #ffff;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}



/* 
  #181818 black text
  #FDB827 yellow header
  #FD3A69 pink
  #E5E5E5 white bg
   */